.content main {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;/* var(--content-max-width); */
}

.cta-button {
  border-color: var(--icons-hover);
  background-color: var(--icons-hover);
  border: 2px;
  border-style: outset;
  color: var(--sidebar-bg) !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

.cta-button:hover {
  border-color: var(--icons);
  background-color: var(--icons);
  cursor: pointer;
}

.column {
  width: 30%;
  min-width: 200px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  content: "";
}

@media screen and (max-width: 768px) {
  .row {
    justify-content: center;
  }
  .column {
    width: 100%;
    text-align: center;
  }
}