body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(30, 33, 41);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-feature-settings: "kern", "liga";
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 255, 255);
}

a:visited, a:hover, a:active, a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#titlebar {
  position: sticky;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgb(38, 139, 210);
}

#footerbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#titlebartitle {
  display: inline;
  font-size: 24px;
  font-weight: 700;
}

#titlebarlinks, #socialmedialinks {
  font-size: 18px;
  text-align: right;
}

#titlebar a, #footerbar a {
  opacity: 0.7;
  transition-behavior: normal, normal;
  transition-delay: 0.08s;
  transition-duration: 0.4s, 0.25s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1), ease;
}

#titlebar a:hover, #footerbar a:hover {
  opacity: 1.0;
}

#titlebar ol, #footerbar ol {
  list-style: none;
}

#titlebar ol li, #footerbar ol li {
  display: inline;
  padding: 10px;
}

#titlebar img {
  height: 24px;
  width: 24px;
  padding-top: 5px;
  padding-right: 10px;
}

#footerbar svg {
  height: 24px;
  width: 24px;
  fill: rgba(255, 255, 255, 0.867);
}

main {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  min-width: 640px;
}

article {
  text-align: center;
}

article img {
  width: 120px;
  height: 120px;
}

article p {
  text-align: justify;
}

footer {
  padding: 25px;
  background-color: rgba(22, 24, 29, 0.87);
  position: fixed;
  bottom: 0px;
  width: calc(100% - 50px);
}