# https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-mdbook-rust
name: github pages

on:
  push:
    branches: [ master ]
  repository_dispatch:
    types: [ autopublish ]

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      # Add the ssh-key to the keyring in order to clone repos
      - uses: webfactory/ssh-agent@v0.2.0
        with:
          ssh-private-key: ${{ secrets.ssh_key }}

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.3.7'
          # mdbook-version: 'latest'

      # Bundle alan compiler and js-runtime
      - run: bash alan-playground.sh

      - run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book